= form_for @permission do |f|
  = f.error_notification

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :subject_class
    = f.text_field :subject_class
  .field
    = f.label :subject_id
    = f.number_field :subject_id
  .field
    = f.label :action
    = f.text_field :action
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
