.accordion-inner
  %table.table.table-striped.table-hover
    %thead{ :style => 'background: #fee;' }
      %tr
        %th{:colspan => 2}
          = "Hauptmenüpunkt"
        %th= "Lesen"
        %th= "Erstellen/Ändern"
        %th= "Stornieren"
        %th= "Archivieren"

    %tbody
      %tr
        %th{:colspan => 2}
          = "Museum (Verwaltung)"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read",   :subject_class => "area_museum" }
        %td{ :colspan => 3 }
        
      %tr
        %th{:colspan => 2}
          = "Sicht Guides"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read",   :subject_class => "area_guide" }
        %td{ :colspan => 3 }
        
      %tr
        %th{:colspan => 2}
          = "Suchen/Buchen"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read",   :subject_class => "area_search_book" }
        %td{ :colspan => 3 }
        
      %tr
        %th{:colspan => 2}
          = "Buchungen"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read",   :subject_class => "area_booking" }
        %td{ :colspan => 3 }
        
      %tr
        %th{:colspan => 2}
          = "Auswertungen"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read",   :subject_class => "area_billing" }
        %td{ :colspan => 3 }
        
      %tr
        %th{:colspan => 2}
          = "Stammdaten"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read",   :subject_class => "area_master_data" }
        %td{ :colspan => 3 }
        
      %tr
        %th{:colspan => 2}
          = "Konstanten"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read",   :subject_class => "area_constants" }
        %td{ :colspan => 3 }




    %thead
      %tr
        %td{ :colspan => 7 }
          &nbsp;

    %thead{ :style => 'background: #eee;' }
      %tr
        %th{:colspan => 2}
          = "Kategorie"
        %th= "Lesen"
        %th= "Erstellen/Ändern"
        %th= "Stornieren"
        %th= "Archivieren"

    %tbody
      %tr
        %th{:colspan => 2}
          = "Einzelbesucher"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read",   :subject_class => "single_visitor" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "single_visitor" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "single_visitor" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "single_visitor" }

      %tr
        %th{:colspan => 2}
          = "Gruppe"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read",   :subject_class => "group_visitor" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "group_visitor" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "group_visitor" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "group_visitor" }

      %tr
        %th{:colspan => 2}
          = "Kurs"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "course_visitor" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "course_visitor" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "course_visitor" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "course_visitor" }

      %tr
        %th{:colspan => 2}
          = "Vermietung"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "rent_visitor" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "rent_visitor" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "rent_visitor" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "rent_visitor" }


      %tr
        %th{:colspan => 2}
          = "Suchen/Buchen"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "booking" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "booking" }
        %td.muted{ :colspan => 2 }
          Stornieren-Berechtigung über Buchungs-Detailseite : Admin




    %thead
      %tr
        %td{ :colspan => 7 }
          &nbsp;

    %thead{ :style => 'background: #eee;' }
      %tr
        %th{:colspan => 2}
          = "Buchungsliste : Admin"
        %th= "Lesen"
        %th= "Erstellen/Ändern"
        %th= "Stornieren"
        %th= "Archivieren"

    %tbody
      %tr
        %th
        %th
          = "Buchungsliste (Buchung)"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "booking_list" }
        %td{ :colspan => 3 }

      %tr
        %th
        %th
          = "+ Alle Status"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "booking_list_status" }
        %td.muted{ :colspan => 3 }
          Kann alle Status einsehen - ansonsten standardmäßig nur Status „Gebucht” 
      %tr
        %th
        %th
          = "Buchungsliste (Webshop)"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "booking_list_webshop" }
        %td{ :colspan => 3 }

      %tr
        %th
        %th
          = "Monatskalender"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "booking_list_calendar" }
        %td{ :colspan => 3 }


    %thead
      %tr
        %td{ :colspan => 7 }
          &nbsp;

    %thead{ :style => 'background: #eee;' }
      %tr
        %th{:colspan => 2}
          = "Buchungsliste : Museum"
        %th= "Lesen"
        %th= "Erstellen/Ändern"
        %th= "Stornieren"
        %th= "Archivieren"

    %tbody
      %tr
        %th
        %th
          = "Tagesplan"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "booking_day_list" }
        %td{ :colspan => 3 }

      %tr
        %th
        %th
          = "Wochenplan"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "booking_week_list" }
        %td{ :colspan => 3 }

      %tr
        %th
        %th
          = "Monatsplan & Monatskalender"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "booking_month_list" }
        %td{ :colspan => 3 }
      %tr
        %th
        %th
          = "+ Monatskalender (Punkte)"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "booking_month_calender_points" }
        %td.muted{ :colspan => 3 }
          Sieht mehr Informationen durch Status-Punkte im Kalender

      %tr
        %th
        %th
          = "Tagescheck"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "daycheck_museum_guides" }
        %td{ :colspan => 3 }





    %thead
      %tr
        %td{ :colspan => 7 }
          &nbsp;

    %thead{ :style => 'background: #eee;' }
      %tr
        %th{:colspan => 2}
          = "Auswertungen"
        %th= "Anzeigen"
        %th= ""
        %th= ""
        %th= ""
    %tbody
      %tr
        %th{:colspan => 2}
          = "Gruppenführung"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "billing_groups" }
        %td{ :colspan => 3 }

      %tr
        %th{:colspan => 2}
          = "Öffentliche-Führungen"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "billing_public_tours" }
        %td{ :colspan => 3 }

      %tr
        %th
        %th
          = "+ Export"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "export", :subject_class => "billing_public_tours" }
        %td.muted{ :colspan => 3 }
      %tr
        %th
        %th
          = "+ Druckansicht"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "print", :subject_class => "billing_public_tours" }
        %td.muted{ :colspan => 3 }
          

      %tr
        %th{:colspan => 2}
          = "Honorarabrechnung Guides"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "billing_guides" }
        %td{ :colspan => 3 }

      %tr
        %th
        %th
          = "+ Alle Produkt-Kategorie-Typen"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "billing_guides_product_category_types" }
        %td.muted{ :colspan => 3 }
          Kann alle Produkt-Kategorie-Typen einsehen - ansonsten standardmäßig nur „Einzelbesucher” 
      %tr
        %th{:colspan => 2}
          = "Statistik"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "statistics" }
        %td{ :colspan => 3 }

      %tr
        %th
        %th
          = "+ Alle Produkt-Kategorie-Typen"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "statistics_product_category_types" }
        %td.muted{ :colspan => 3 }
          Kann alle Produkt-Kategorie-Typen einsehen - ansonsten standardmäßig nur „Einzelbesucher” 



    %thead
      %tr
        %td{ :colspan => 7 }
          &nbsp;

    %thead{ :style => 'background: #eee;' }
      %tr
        %th{:colspan => 2}
          = "Buchungs-Detailseite : Admin"
        %th= "Lesen"
        %th= "Erstellen/Ändern"
        %th= "Stornieren"
        %th= "Archivieren"

    %tbody
      %tr
        %th{:colspan => 2}
          = "Guides Wechseln"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "change_guide" }
        %td{ :colspan => 3 }
        
        
      %tr
        %th{:colspan => 2}
          = "Buchung stornieren"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "booking" }
        %td{ :colspan => 3 }

      %tr
        %th{:colspan => 2}
          = "Preise Ändern"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "change", :subject_class => "booking_prices" }
        %td{ :colspan => 3 }
        
        

        


    %thead
      %tr
        %td{ :colspan => 7 }
          &nbsp;

    %thead{ :style => 'background: #eee;' }
      %tr
        %th{:colspan => 2}
          = "Rechnungen"
        %th= "Lesen"
        %th= "Erstellen/Ändern"
        %th= "Stornieren"
        %th= "Archivieren"

    %tbody
      %tr
        %th{:colspan => 2}
          = "Rechnungen generieren"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "billing_generate" }
        %td{ :colspan => 3 }
        
      %tr
        %th{:colspan => 2}
          = "Rechnungen drucken/senden"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "billing_print_send" }
        %td{ :colspan => 3 }
        
      %tr
        %th{:colspan => 2}
          = "Rechnungen stornieren"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "billing_storno" }
        %td{ :colspan => 3 }
        




    %thead
      %tr
        %td{ :colspan => 7 }
          &nbsp;

    %thead{ :style => 'background: #eee;' }
      %tr
        %th{:colspan => 2}
          = "Stammdaten"
        %th= "Lesen"
        %th= "Erstellen/Ändern"
        %th= "Stornieren"
        %th= "Archivieren"

    %tbody
      %tr
        %th{:colspan => 2}
          = "Entgelte"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_payment_prescription" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_payment_prescription" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_payment_prescription" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_payment_prescription" }

      %tr
        %th{:colspan => 2}
          = "Museen"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_museum" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_museum" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_museum" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_museum" }
      %tr
        %th
        %th
          = "+ Entgelte"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "manage", :subject_class => "museum_prices" }
        %td{ :colspan => 3 }
      %tr
        %th
        %th
          = "+ Preise / Zuschläge"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "manage", :subject_class => "museum_surcharges" }
        %td{ :colspan => 3 }
      %tr
        %th
        %th
          = "+ Verfügbarkeiten"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "manage", :subject_class => "museum_availabilities" }
        %td{ :colspan => 3 }

      %tr
        %th{:colspan => 2}
          = "Räume"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_room" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_room" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_room" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_room" }
      %tr
        %th
        %th
          = "+ Verfügbarkeiten"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "manage", :subject_class => "room_availabilities" }
        %td{ :colspan => 3 }

      %tr
        %th{:colspan => 2}
          = "Räume (Doubletten)"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_room_doubles" }
        %td{ :colspan => 3 }

      %tr
        %th{:colspan => 2}
          = "Ausstellungen"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_exhibition" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_exhibition" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_exhibition" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_exhibition" }
      %tr
        %th
        %th
          = "+ Verfügbarkeiten"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "manage", :subject_class => "exhibition_availabilities" }
        %td{ :colspan => 3 }

      %tr
        %th{:colspan => 2}
          = "Angebote"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_product" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_product" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_product" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_product" }
          
      %tr
        %th
        %th
          = "+ Raumzuordnung"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "manage", :subject_class => "product_rooms" }
        %td{ :colspan => 3 }
      %tr
        %th
        %th
          = "+ Entgelte"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "manage", :subject_class => "product_prices" }
        %td{ :colspan => 3 }
      %tr
        %th
        %th
          = "+ Preise / Zuschläge"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "manage", :subject_class => "product_surcharges" }
        %td{ :colspan => 3 }
      %tr
        %th
        %th
          = "+ Verfügbarkeiten"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "manage", :subject_class => "product_availabilities" }
        %td{ :colspan => 3 }
        

      %tr
        %th{:colspan => 2}
          = "Guides (Stammdaten)"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_guide" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_guide" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_guide" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_guide" }
      %tr
        %th
        %th
          = "+ Kategorie-Filter"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "filter", :subject_class => "guide_categories" }
        %td{ :colspan => 3 }
      %tr
        %th
        %th
          = "+ Guide Buchungen"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "guide_bookings" }
        %td{ :colspan => 3 }
      %tr
        %th
        %th
          = "+ Guide Verfügbarkeiten"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_guide_availables" }
        %td{ :colspan => 3 }
      
      %tr
        %th{:colspan => 2}
          = "Guides (Zuordnungen)"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_guide_assignment" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_guide_assignment" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_guide_assignment" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_guide_assignment" }

      -# %tr
      -#   %th{:colspan => 2}
      -#     = "Guides (Angebote)"
      -#   = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_guide_products" }
      -#   = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_guide_products" }
      -#   = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_guide_products" }
      -#   = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_guide_products" }


      %tr
        %th{:colspan => 2}
          = "Kunden"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_customer" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_customer" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_customer" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_customer" }

      %tr
        %th{:colspan => 2}
          = "User"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_user" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_user" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_user" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_user" }




    %thead
      %tr
        %td{ :colspan => 7 }
          &nbsp;

    %thead{ :style => 'background: #eee;' }
      %tr
        %th{:colspan => 2}
          = "Konstanten"
        %th= "Lesen"
        %th= "Erstellen/Ändern"
        %th= "Stornieren"
        %th= "Archivieren"

    %tbody
      %tr
        %th{:colspan => 2}
          = "Besuchergruppen"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_const_customer_groups" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_const_customer_groups" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_const_customer_groups" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_const_customer_groups" }

      %tr
        %th{:colspan => 2}
          = "Kategorien"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_const_product_categories" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_const_product_categories" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_const_product_categories" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_const_product_categories" }

      %tr
        %th{:colspan => 2}
          = "Zielgruppen"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_const_audiences" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_const_audiences" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_const_audiences" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_const_audiences" }

      %tr
        %th{:colspan => 2}
          = "Feiertage"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_const_holidays" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_const_holidays" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_const_holidays" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_const_holidays" }

      %tr
        %th{:colspan => 2}
          = "Mail-Templates"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "data_const_mail_templates" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "create", :subject_class => "data_const_mail_templates" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "delete", :subject_class => "data_const_mail_templates" }
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "archive", :subject_class => "data_const_mail_templates" }




    %thead
      %tr
        %td{ :colspan => 7 }
          &nbsp;

    %thead{ :style => 'background: #eee;' }
      %tr
        %th{:colspan => 2}
          = "Dashboard"
        %th= "Anzeigen"
        %th
        %th
        %th

    %tbody
      %tr
        %th{:colspan => 2}
          = "Statistik"
        = render :partial => '/admin/permissions/index_td', :locals => {:permissable => permissable, :action => "read", :subject_class => "dashboard_statistic" }
        %td{ :colspan => 3 }

