.container
  .row
    .span3
      = render 'menu'


    .span9

      %h1 Individuelle Berechtigungen

      - if @user.admin?
        .alert.alert-block
          %strong
            %i.fa.fa-exclamation-triangle
            &nbsp;
            Achtung
          %br
          Administrative User benötigen keine individuelle Berechtigungen.

      - else
        .box.alternate
          .box-title
            %thin.pull-right= @user.email
            %strong= @user.username

          .box-content.nopadding.condensed
            #permissions.accordion{ :style => 'margin: 0px !important;' }
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#permissions", "data-toggle" => "collapse", href: "#general"}
                    %i.fa.fa-cogs
                    &nbsp;
                    Allgemein
                #general.accordion-body.collapse.in
                  .accordion-inner.nopadding
                    %table.table.table-striped.table-hover
                      %thead{ :style => 'background: #fee;' }
                        %tr
                          %th{:width => 200 }= "Funktion"
                          %th Anzeigen
                          %th Erstellen
                          %th Bearbeiten
                          %th Löschen

                      %tbody
                        %tr
                          %th.text-left Medienbibliothek
                          = render :partial => '/permissions/index_td', :locals => { :action => "read",   :subject_class => "documents" }
                          = render :partial => '/permissions/index_td', :locals => { :action => "create", :subject_class => "documents" }
                          = render :partial => '/permissions/index_td', :locals => { :action => "edit",   :subject_class => "documents" }
                          = render :partial => '/permissions/index_td', :locals => { :action => "delete", :subject_class => "documents" }

                        %tr
                          %th.text-left Baumstruktur
                          = render :partial => '/permissions/index_td', :locals => { :action => "read",   :subject_class => "branches" }
                          = render :partial => '/permissions/index_td', :locals => { :action => "create", :subject_class => "branches" }
                          = render :partial => '/permissions/index_td', :locals => { :action => "edit",   :subject_class => "branches" }
                          = render :partial => '/permissions/index_td', :locals => { :action => "delete", :subject_class => "branches" }

                        %tr
                          %th.text-left Suche
                          = render :partial => '/permissions/index_td', :locals => { :action => "read",   :subject_class => "search" }
                          %td{ :colspan => 3 }

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#permissions", "data-toggle" => "collapse", href: "#admin"}
                    %i.fa.fa-gear
                    &nbsp;
                    Administration
                #admin.accordion-body.collapse
                  .accordion-inner.nopadding
                    %table.table.table-striped.table-hover
                      %thead{ :style => 'background: #fee;' }
                        %tr
                          %th{:width => 200 }= "Funktion"
                          %th Anzeigen
                          %th
                          %th
                          %th

                      %tbody
                        %tr
                          %th.text-left Templates

                          = render :partial => '/permissions/index_td', :locals => { :action => "read",    :subject_class => 'templates' }
                          = render :partial => '/permissions/index_td', :locals => { :action => "create",  :subject_class => 'templates' }
                          = render :partial => '/permissions/index_td', :locals => { :action => "edit",    :subject_class => 'templates' }
                          = render :partial => '/permissions/index_td', :locals => { :action => "delete",  :subject_class => 'templates' }
                        %tr
                          %th.text-left CSS
                          = render :partial => '/permissions/index_td', :locals => { :action => "read",   :subject_class => "css" }
                          %td
                          %td
                          %td
                        %tr
                          %th.text-left Cache
                          = render :partial => '/permissions/index_td', :locals => { :action => "renew",   :subject_class => "cache" }
                          %td
                          %td
                          %td


              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#permissions", "data-toggle" => "collapse", href: "#contenttypes"}
                    %i.fa.fa-th-list
                    &nbsp;
                    Content-Types
                #contenttypes.accordion-body.collapse
                  .accordion-inner

                    .tabbable.tabs-left
                      %ul.nav.nav-tabs
                        - @project.content_types.direct.each do |content_type|
                          %li{ :class => "#{ 'active' if @project.content_types.direct.first == content_type }" }
                            %a{ :href => "#tabct#{content_type.id}", :data => { :toggle => 'tab' } }
                              = content_type.name

                      .tab-content
                        - @project.content_types.direct.each do |content_type|
                          %div{ :id => "tabct#{content_type.id}", :class => "tab-pane #{ 'active' if @project.content_types.direct.first == content_type }"  }
                            .tabbable
                              %ul.nav.nav-tabs
                                %li.active
                                  %a{ :href => "#tabct#{content_type.id}basics", :data => { :toggle => 'tab' } }
                                    Allgemein

                                %li
                                  %a{ :href => "#tabct#{content_type.id}cet", :data => { :toggle => 'tab' } }
                                    Datenfelder

                              .tab-content
                                .tab-pane.active{ :id => "tabct#{content_type.id}basics" }
                                  %table.table.table-striped.table-hover
                                    %tr
                                      %th Anzeigen
                                      %th Erstellen
                                      %th Bearbeiten
                                      %th Löschen
                                    %tr
                                      = render :partial => '/permissions/index_td', :locals => { :action => "read",    :subject_class => content_type.class.name, :subject_id => content_type.id }
                                      = render :partial => '/permissions/index_td', :locals => { :action => "create",  :subject_class => content_type.class.name, :subject_id => content_type.id }
                                      = render :partial => '/permissions/index_td', :locals => { :action => "edit",    :subject_class => content_type.class.name, :subject_id => content_type.id }
                                      = render :partial => '/permissions/index_td', :locals => { :action => "delete",  :subject_class => content_type.class.name, :subject_id => content_type.id }

                                .tab-pane{ :id => "tabct#{content_type.id}cet" }
                                  %table.table.table-striped.table-hover
                                    %tr
                                      %th Datenfeld
                                      %th Anzeigen blockieren
                                      %th Editieren blockieren
                                    - content_type.content_element_types.each do |content_element_type|
                                      %tr
                                        %td
                                          %strong= content_element_type.name
                                        = render :partial => '/permissions/index_td', :locals => { :action => "block_read",    :subject_class => content_element_type.class.name, :subject_id => content_element_type.id }
                                        = render :partial => '/permissions/index_td', :locals => { :action => "block_edit",    :subject_class => content_element_type.class.name, :subject_id => content_element_type.id }



              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#permissions", "data-toggle" => "collapse", href: "#workspaces"}
                    %i.fa.fa-desktop
                    &nbsp;
                    Workspaces
                #workspaces.accordion-body.collapse
                  .accordion-inner.nopadding
                    %table.table.table-striped.table-hover
                      %thead{ :style => 'background: #fee;' }
                        %tr
                          %th{ :colspan => 2, :width => 200 } Workspace
                          %th Zuweisen & Filtern

                      %tbody
                        - constellation = ''
                        - @project.workspaces.each do |workspace|
                          - if constellation != workspace.constellation
                            - constellation = workspace.constellation
                            %tr
                              %th.text-left{ :colspan => 2, :width => 200 }= constellation
                              %th{ :colspan => 4 }


                          %tr
                            %th{ :width => 10 }
                            %th.text-left{ :width => 190 }= workspace.name
                            = render :partial => '/permissions/index_td', :locals => { :action => "read",    :subject_class => workspace.class.name, :subject_id => workspace.id }

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#permissions", "data-toggle" => "collapse", href: "#tree"}
                    %i.fa.fa-sitemap
                    &nbsp;
                    Baumstruktur
                #tree.accordion-body.collapse
                  .accordion-inner.nopadding
                    %table.table.table-striped.table-hover
                      %thead{ :style => 'background: #fee;' }
                        - branches = @project.branches.arrange(:order => :position)
                        - @maxdepth = 0
                        - @project.branches.map { |branch| @maxdepth = branch.depth if @maxdepth < branch.depth }
                        %tr
                          %th{:width => 200 } Menüpunkt
                          %th Blockiert
                          -# %th Erstellen
                          -# %th Bearbeiten
                          -# %th Löschen

                      %tbody
                        = render :partial => '/permissions/index_branch', :locals => { :branches => branches }
