.container
  .row
    .span3
      = render 'menu'  
      

    .span9

      %h1 Individuelle Berechtigungen
      
      - if @user.admin?
        .alert.alert-block
          %strong
            %i.fa.fa-exclamation-triangle
            &nbsp;
            Achtung
          %br
          Administrative User benötigen keine individuelle Berechtigungen.
      
      - else
        .box.alternate
          .box-title
            %thin.pull-right= @user.email
            %strong= @user.username
            
          .box-content.nopadding.condensed
            #permissions.accordion{ :style => 'margin: 0px !important;' }   
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#permissions", "data-toggle" => "collapse", href: "#general"}
                    %i.fa.fa-cogs
                    &nbsp;
                    Allgemein
                #general.accordion-body.collapse.in
                  .accordion-inner.nopadding
                    %table.table.table-striped.table-hover
                      %thead{ :style => 'background: #fee;' }
                        %tr
                          %th{:width => 200 }= "Funktion"
                          %th Anzeigen
                          %th Erstellen
                          %th Bearbeiten
                          %th Löschen
                  
                      %tbody
                        %tr
                          %th.text-left Medienbibliothek
                          = render :partial => '/permissions/index_td', :locals => { :action => "read",   :subject_class => "documents" }
                          = render :partial => '/permissions/index_td', :locals => { :action => "create", :subject_class => "documents" }
                          = render :partial => '/permissions/index_td', :locals => { :action => "edit",   :subject_class => "documents" }
                          = render :partial => '/permissions/index_td', :locals => { :action => "delete", :subject_class => "documents" }

                        %tr
                          %th.text-left Baumstruktur
                          = render :partial => '/permissions/index_td', :locals => { :action => "read",   :subject_class => "branches" }
                          = render :partial => '/permissions/index_td', :locals => { :action => "create", :subject_class => "branches" }
                          = render :partial => '/permissions/index_td', :locals => { :action => "edit",   :subject_class => "branches" }
                          = render :partial => '/permissions/index_td', :locals => { :action => "delete", :subject_class => "branches" }

            
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#permissions", "data-toggle" => "collapse", href: "#contenttypes"} 
                    %i.fa.fa-th-list
                    &nbsp;
                    Content-Types
                #contenttypes.accordion-body.collapse
                  .accordion-inner.nopadding
                    %table.table.table-striped.table-hover
                      %thead{ :style => 'background: #fee;' }
                        %tr
                          %th{:width => 200 } Content-Type
                          %th Anzeigen
                          %th Erstellen
                          %th Bearbeiten
                          %th Löschen
                  
                      %tbody
                        - @project.content_types.direct.each do |content_type|
                          %tr
                            %th.text-left= content_type.name
                            = render :partial => '/permissions/index_td', :locals => { :action => "read",    :subject_class => content_type.class.name, :subject_id => content_type.id }
                            = render :partial => '/permissions/index_td', :locals => { :action => "create",  :subject_class => content_type.class.name, :subject_id => content_type.id }
                            = render :partial => '/permissions/index_td', :locals => { :action => "edit",    :subject_class => content_type.class.name, :subject_id => content_type.id }
                            = render :partial => '/permissions/index_td', :locals => { :action => "delete",  :subject_class => content_type.class.name, :subject_id => content_type.id }   

            
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#permissions", "data-toggle" => "collapse", href: "#workspaces"} 
                    %i.fa.fa-desktop
                    &nbsp;
                    Workspaces
                #workspaces.accordion-body.collapse
                  .accordion-inner.nopadding
                    %table.table.table-striped.table-hover
                      %thead{ :style => 'background: #fee;' }
                        %tr
                          %th{ :colspan => 2, :width => 200 } Workspace
                          %th Zuweisen & Filtern
                  
                      %tbody
                        - constellation = ''
                        - @project.workspaces.each do |workspace|
                          - if constellation != workspace.constellation
                            - constellation = workspace.constellation
                            %tr
                              %th.text-left{ :colspan => 2, :width => 200 }= constellation
                              %th{ :colspan => 4 }
                              
                        
                          %tr
                            %th{ :width => 10 }
                            %th.text-left{ :width => 190 }= workspace.name
                            = render :partial => '/permissions/index_td', :locals => { :action => "read",    :subject_class => workspace.class.name, :subject_id => workspace.id }
            
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#permissions", "data-toggle" => "collapse", href: "#tree"} 
                    %i.fa.fa-sitemap
                    &nbsp;
                    Baumstruktur
                #tree.accordion-body.collapse
                  .accordion-inner.nopadding
                    %table.table.table-striped.table-hover
                      %thead{ :style => 'background: #fee;' }
                        - branches = @project.branches.arrange(:order => :position)
                        - @maxdepth = 0
                        - @project.branches.map { |branch| @maxdepth = branch.depth if @maxdepth < branch.depth }
                        %tr
                          %th{:width => 200 } Menüpunkt
                          %th Blockiert
                          -# %th Erstellen
                          -# %th Bearbeiten
                          -# %th Löschen
                  
                      %tbody
                        = render :partial => '/permissions/index_branch', :locals => { :branches => branches }
