%p#notice= notice

%p
  %b Name:
  = @permission.name
%p
  %b Subject class:
  = @permission.subject_class
%p
  %b Subject:
  = @permission.subject_id
%p
  %b Action:
  = @permission.action
%p
  %b Description:
  = @permission.description
