
%div{ :class => "#{'handle' if can?(:edit, :branches)}" } 

- if form && branch == form.object
  %strong 
    = branch.route(@locale).try(:name)

  %small
    > kann nicht Unterpunkt zu sich oder seinen Unterpunkten sein …
    
- else
  - if branch.branch_routes.empty?
    %i.fa.fa-fw.fa-exclamation-triangle
  = branch.route(@locale).try(:name) || 'keine route'
  %small.muted
  
    = branch.route(@locale).try(:route) || '/keine route'

- unless form
  .btn-group.pull-right
    - if can?(:edit, :branches)
      = link_to edit_project_branch_path(@project, branch), :class=> 'btn btn-mini btn-success' do
        %i.fa.fa-edit
  
    - if can?(:create, :branches)
      = link_to new_project_branch_branch_path(branch.project, branch), :class=> 'btn btn-mini btn-primary' do
        %i.fa.fa-plus
    
    - if can?(:delete, :branches)
      = link_to [@project, branch], :method => :delete, :title => t('confirmation.delete.title'), :data => { :confirm => t('confirmation.delete.branch') }, :class => 'btn btn-mini btn-danger' do 
        %i.fa.fa-trash-o
  
- else
  .pull-right
    - if form.object.subtree.include?(branch)
      = radio_button_tag '', '', false, :disabled => :disabled
    
    - else
      = radio_button_tag 'parent_id', branch.id, (branch == form.object.parent)
