
- if params[:action] == 'show'
  - if template = @branch.templates.where(:action => :show).first
    = render :inline => template.code
  - elsif template = @content.content_type.templates.where(:action => :show).first
    = render :inline => template.code
  - else
    = render :partial => "templates/show/#{@content.content_type.intern}", :locals => { :content => @content } rescue render :partial => 'templates/show/fallback', :locals => { :content => @content }


- else
  - if template = @branch.templates.where(:action => :index).first
    = render :inline => template.code
  - else
    - @contents.each do |content|
      = render :partial => "templates/index/#{content.content_type.intern}", :locals => { :content => content } rescue render :partial => 'templates/index/fallback', :locals => { :content => content }
