.container
  .row
    .span3
      = render 'menu'  

      
    .span6
      %h1
        = @content_type.name
        
        %small
          %i.fa.fa-angle-right
          Datenfeld bearbeiten  
        

      .box.alternate
        .box-title
          = "„#{@content_element_type.name}” bearbeiten"
        .box-content.nopadding          
          = render 'form'

    .span3
      = render 'meta_hints'  