.container
  .row
    .span3
      = render 'menu'  

    .span6
      %h1
        Datenfeld
        %small
          %i.icon-angle-right
          = @content_type.name
        

      .box.alternate
        .box-title
          = "#{@content_type.name} :: Datenfeld anlegen"
        .box-content.nopadding          
          = render 'form'

    .span3
      = render 'meta_hints'  