%h2
  = content.title
  

= content.teaser

%br
%strong= content.location
  
- if content.dates
  %table.table.table-striped.table-bordered
    - content.dates.each do |date|
      %tr
        %td
          = l Date.parse(date.content.date), :format => :long
        %td
          = date.content.begin
        %td
          = date.content.location
        %td
          = date.content.art
  
    
  
-#  %pre
-#    = content.dates.to_yaml

%hr