= simple_form_for(@branch_route) do |f|
  = f.error_notification

  .form-inputs
    = f.input :branch_id
    = f.input :language
    = f.input :name
    = f.input :route
    = f.input :jump

  .form-actions
    = f.button :submit, :class => 'btn btn-primary', :data => { :disable_with => 'Übertrage Daten ...' }
