
.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle=>"collapse", :target=>".nav-collapse"} }
        %span.fa.fa-bar
        %span.fa.fa-bar
        %span.fa.fa-bar

    
      = link_to 'http://www.artemisium.de', :target => '_blank', :class=>"brand" do
        CMS | delta II
      
      - if current_user
        .nav-collapse.collapse
          %ul.nav
            %li
              = link_to '/' do 
                %i.fa.fa-dashboard
                Dashboard
                
                
              
            %li.dropdown
              = link_to '#', :class => 'dropdown-toggle', :data => {:toggle=>"dropdown"} do
                %i.fa.fa-list
                Projekte
                %b.caret
            
              %ul.dropdown-menu
                %li
                  = link_to projects_path do
                    Projekt-Übersicht
                - unless current_user.projects.empty?
                  %li.divider

                  - current_user.projects.each do |project|
                    %li
                      = link_to project do  
                        = project.name.html_safe


                
            - if current_user.admin?
              %li.dropdown
                = link_to '#', :class => 'dropdown-toggle', :data => {:toggle=>"dropdown"} do
                  %i.fa.fa-fire
                  Administration
                  %b.caret
              
                %ul.dropdown-menu
                  %li
                    = link_to users_path do
                      %i.fa.fa-group
                      Alle User
                  %li.divider
                  %li
                    = link_to constants_path do
                      %i.fa.fa-cogs
                      Konstanten

                  
                
                
          %ul.nav.pull-right
            - if @project && @project.id && can?(:read, :search)
              
              %li
                %form.navbar-search
                  %input{ :id => 'search', :type => "text", :class => "search-query", :rel => "#{search_suggest_path(@project)}", :autocomplete => "off", :placeholder => 'Suche …' }

            
              %li.divider-vertical
                = ''
          
          
            %li.dropdown
              %a#drop1{:href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown", :role => "button"}
                %i.fa.fa-user
                = current_user.email
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to edit_user_path(current_user) do
                    %i.fa.fa-wrench
                    Einstellungen
          
          
                %li.divider
                  = ''
                %li
                  = link_to logout_path do
                    %i.fa.fa-off
                    Logout
    
      - else
        %ul.nav.pull-right
          %li
            = link_to new_session_path('user') do 
              %i.fa.fa-signin
              Login