!!!
%html
  %head

    %title=  "CMS|delta II #{content_for?(:title) ? " » #{yield(:title)}" : ''}"
    %meta{:content => content_for?(:description) ? yield(:description) : "ARTEMiSiUM CMS|delta II", :name => "description"}

    %meta{:name => "viewport", :id => "vp", :content => "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" }
    %meta{:name => "viewport", :id => "vp", :content => "initial-scale=1.0,user-scalable=no,maximum-scale=1", :media => "(device-height: 568px)" }

    %meta{:name => "generator", :content => "ARTEMiSiUM CMS|delta II » #{Rails.version}" }
  
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes" }
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black" }
    %meta{:name => "apple-mobile-web-app-title", :content => "CMS|delta II" }

    %link{:rel => "apple-touch-icon", :href=>"/apple-touch-icon.png" }

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield(:head)
  %body

    #stage{:role => "main"}
      %header
        = render :partial => 'layouts/header'

      %content
        = render :partial => 'layouts/errors'
        = yield
      
      %footer.footer
        = render :partial => 'layouts/footer'
        

    = yield :scripts
    
    :javascript
      NProgress.done();