.container
  .row
    .span3
  
    .span9
      %h1      
        %i.fa.fa-dashboard
        Dashboard
        

  %br
  
.container
  .row
    .span3
      .box.alternate
        .box-title
          = current_user.username
        .box-content.nopadding.condensed
          %table.table.table-bordered.table-condensed.table-hover.table-striped
            %tr
              %th
                E-Mail
              %td
                = current_user.email
            %tr
              %th
                Login
              %td
                = l current_user.current_sign_in_at, :format => :short
            %tr
              %th
                Logins
              %td
                = current_user.sign_in_count

    .span9
      - current_user.projects.each do |project|
        .row

          .span5

            .box
              .box-title
                = link_to project, :class => 'btn btn-small btn-primary' do
                  %i.fa.fa-leaf
                  &nbsp;
                  = project.name.html_safe
                  
                
                
                
              .box-content.nopadding.condensed
                %table.table.table-bordered.table-condensed.table-hover.table-striped
                  %tr
                    %th.text-right{ :width => 150 }
                      Intern
                    %td
                      = project.intern
                  %tr
                    %th.text-right{ :width => 150 }
                      Beschreibung
                    %td
                      = project.description
    
                  - if project.ref_id && !project.ref_id.blank?
                    %tr
                      %th.text-right
                        Referenz
                      %td
                        = project.ref_id      
          
                  %tr
                    %th.text-right
                      Hosts
                    %td
                      - project.hosts.each do |host|
                        - if host.primary
                          %span.label.label-important.pull-right
                            primary
                          %strong
                            = "#{host.protocol}#{host.host}"
                        - else
                          = "#{host.protocol}#{host.host}"
                        %br          
                        
          .span2
            .box
              .box-title
                Statistik
              .box-content.nopadding.condensed
                %table.table.table-bordered.table-condensed.table-hover.table-striped
                  %tr
                    %th.text-right{ :width => 150 }
                      Menüpunkte
                    %td{ :style => 'background: #F38630; text-align: right;', :width => 50 }
                      = project.branches.size
          
                  %tr
                    %th.text-right
                      Inhalts-Typen
                    %td{ :style => 'background: #E0E4CC; text-align: right;' }
                      = project.content_types.size
          
                  %tr
                    %th.text-right
                      Inhalte
                    %td{ :style => 'background: #69D2E7; text-align: right;' }
                      = project.contents.size
                      
                  %tr
                    %th.text-right
                      Dokumente
                    %td{ :style => 'background: #ffD2E7; text-align: right;' }
                      = project.documents.size
                      
                  %tr
                    %th.text-right
                      Workspaces
                    %td{ :style => 'background: #5599E7; text-align: right;' }
                      = project.workspaces.size
          .span2
            .box
              .box-title
                Statistik
              .box-content.nopadding.condensed

                %canvas{ :id => "project#{project.id}", :width => 160, :height => 160 }
                
                - content_for :scripts do
                  - javascript_tag do
                    = "var roject#{project.id}data = [ { value: #{project.branches.size}, color:'#F38630' }, { value : #{project.content_types.size}, color : '#E0E4CC' }, { value : #{project.contents.size}, color : '#69D2E7' }, { value : #{project.documents.size}, color : '#ffD2E7' }, { value : #{project.workspaces.size}, color : '#5599E7' } ]"
                    = "var project#{project.id}ctx = document.getElementById('project#{project.id}').getContext('2d');"
                    = "new Chart(project#{project.id}ctx).Doughnut(roject#{project.id}data,{ percentageInnerCutout : 75 });"