.container
  .row
    .span3

    .span9
      %h1
        %i.fa.fa-dashboard
        Dashboard


  %br

.container
  .row
    .span3
      .box.alternate
        .box-title
          = current_user.username
        .box-content.nopadding.condensed
          %table.table.table-bordered.table-condensed.table-hover.table-striped
            %tr
              %th
                E-Mail
              %td
                = current_user.email
            %tr
              %th
                Login
              %td
                = l current_user.current_sign_in_at, :format => :short
            %tr
              %th
                Logins
              %td
                = current_user.sign_in_count

    .span9
      - current_user.projects.each do |project|
        .row

          .span6

            .box
              .box-title
                = link_to project, :class => 'btn btn-small btn-primary' do
                  %i.fa.fa-leaf
                  &nbsp;
                  = project.name




              .box-content.nopadding.condensed
                %table.table.table-bordered.table-condensed.table-hover.table-striped
                  %tr
                    %th.text-right{ :width => 150 }
                      Intern
                    %td
                      = project.intern
                  %tr
                    %th.text-right{ :width => 150 }
                      Beschreibung
                    %td
                      = project.description

                  - if project.ref_id && !project.ref_id.blank?
                    %tr
                      %th.text-right
                        Referenz
                      %td
                        = project.ref_id

                  %tr
                    %th.text-right
                      Hosts
                    %td
                      - project.hosts.each do |host|
                        - if host.primary
                          %span.label.label-important.pull-right
                            primary
                          %strong
                            = "#{host.protocol}#{host.host}"
                        - else
                          = "#{host.protocol}#{host.host}"
                        %br

          .span3
            .box
              .box-title
                Statistik
              .box-content.nopadding.condensed

                %div{ :id => "project#{project.id}", :style => 'height: 200px' }
                - contentypes = ''
                - project.content_types.direct.each do |ct|
                  - contentypes = contentypes + ", {value: #{ct.contents.size}, label:'Inhalt: #{ct.name}'}"

                - content_for :scripts do
                  - javascript_tag do
                    = "var roject#{project.id}data = [ { value: #{project.branches.size}, label:'Menüpunkte' }, { value : #{project.documents.size}, label : 'Dokumente' }, { value : #{project.workspaces.size}, label : 'Workspaces' } #{contentypes} ]"

                    = "Morris.Donut({ element: 'project#{project.id}', data: roject#{project.id}data, resize: true, redraw: true })"
