.row
  .span1
    = image_tag document.document.url(:preview), :class => 'img-polaroid'
    
  .span2
    = " #{document.width} x #{document.height} Pixel "
    %br
    = number_to_human_size document.document_file_size
  .span3
    
    
%hr