- documentable = Documentable.where(:project => @project).where(:documentable_type => 'Content').where(:documentable_id => @content.id).where(:document_id => document.id).first
%tr{ :id => "document_#{document.id}", :width => '100%' }
  %td.handle

  %td{ :width => 50 }
    = link_to image_tag( document.document.url(:thumb) ), [document.project, document], :target => '_blank'

  %td
    = "[img:#{document.id}]"

  %td
    %strong
      = document.filetype
    |
    = number_to_human_size document.document_file_size
    %span.muted
      = "| #{document.width} x #{document.height} Pixel "

    - if documentable.doctype_name
      %br
      %strong Doctype:
      = documentable.doctype_name

    - unless documentable.title.blank?
      %br
      = documentable.title

    - unless documentable.info.blank?
      %br
      = documentable.info


  %td
    %nobr.pull-right
      .btn-group
        = link_to edit_project_documentable_path(@project, documentable), :remote => true, :class => 'btn btn-success btn-mini' do
          %i.fa.fa-cogs
          &nbsp;
          Einstellung
        
        = link_to remove_project_content_document_path(@project, @content, document), :remote => true, :class => 'btn btn-danger btn-mini ' do
          %i.fa.fa-trash-o
          &nbsp;
          Entfernen
        
