
- if @parent && @parent.class.name == 'Content'
  = form_tag search_project_content_documents_path(@project, @parent), :remote => true, :class => 'navbar-search pull-left' do
    .input-append
      = text_field_tag :search, params[:search], :class => 'span5'
      %button.btn
        Filter
- elsif @parent && @parent.class.name == 'Branch'
  = form_tag search_project_branch_documents_path(@project, @parent), :remote => true, :class => 'navbar-search pull-left' do
    .input-append
      = text_field_tag :search, params[:search], :class => 'span5'
      %button.btn
        Filter

.clearfix

%table.table.table-condensed.table-bordered.table-striped
  - @documents.each do |document|
    %tr.fxline{ :id => "document#{document.id}" }
      %td{ :width => 50 }
        = image_tag document.document.url(:thumb)

      %td
        %strong
          = document.filetype
        %span.muted
          = " #{document.width} x #{document.height} Pixel "
        %br
        = number_to_human_size document.document_file_size
      %td
        - if @parent && @parent.class.name == 'Content'
          = link_to assign_project_content_document_path(@project, @parent, document), :remote => true, :class => 'btn btn-mini' do
            Übernehmen
        - elsif @parent && @parent.class.name == 'Branch'
          = link_to assign_project_branch_document_path(@project, @parent, document), :remote => true, :class => 'btn btn-mini' do
            Übernehmen


= paginate @documents , :remote => true
