.container
  .row
    .span3
      = render 'projects/menu'  
    
    .span6

      %h1
        Medienbibliothek

      
      %table.table.table-condensed.table-striped.table-bordered.table-hover
        - @documents.each do |document|
          %tr
            %td{ :width => 50 }
              = link_to image_tag( document.document.url(:thumb) ), [document.project, document]
            %td
              %strong
                = document.filetype
              %span.muted
                = " #{document.width} x #{document.height} Pixel "
              %br
              = number_to_human_size document.document_file_size
              
                
            %td
              - document.documentables.each do |documentable|
                - if documentable.documentable_type == 'Content'
                  = link_to documentable.parent.rep(@locale), [documentable.parent.project, documentable.parent]
                  %br
                  
            %td{ :width => 65 }
              - if current_user.admin? && document.documentables.empty?
                = link_to project_document_path(@project, document), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger' do
                  %i.icon-trash
                  Löschen

      = paginate @documents

    .span3
      %h1
        Filtern
