.container
  .row
    .span3
      = render 'projects/menu'

    .span6

      %h1
        Medienbibliothek


      %table.table.table-condensed.table-striped.table-bordered.table-hover
        %tr
          %th
          %th
            Metadaten
          %th
            Actions

        - @documents.each do |document|
          %tr{ :id => "document#{document.id}" }
            %td{ :width => 50 }
              = link_to image_tag( document.document.url(:thumb) ), [document.project, document]

            %td

              %small.muted
                = document.document_file_name
              %br

              %strong
                = document.filetype
              |
              = number_to_human_size document.document_file_size
              |
              %span.muted= " #{document.width} x #{document.height} Pixel "

              %br
              = document.doctype_name
              - unless document.documentables.empty?
                %small
                  %ul.nav.nav-stacked
                    - document.documentables.each do |documentable|
                      - if documentable.documentable_type == 'Content'
                        %li
                          = link_to [documentable.parent.project, documentable.parent] do
                            %i.fa-fw.fa.fa-file-text
                            = documentable.parent.rep(@locale)
                      - elsif documentable.documentable_type == 'Branch'
                        %li
                          = link_to edit_project_branch_path(documentable.parent.project, documentable.parent) do
                            %i.fa-fw.fa.fa-sitemap
                            = documentable.parent.route(@locale).route


            %td{ :width => 150 }
              .btn-group.pull-right

                - if can?(:edit, :documents)
                  = link_to edit_project_document_path(@project, document), :class => 'btn btn-mini btn-success' do
                    %i.fa.fa-edit
                    &nbsp;
                    Bearbeiten

                - if can?(:delete, :documents)
                  - if current_user.admin? && document.documentables.empty?
                    = link_to project_document_path(@project, document), :remote => true, :method => :delete, :title => t('confirmation.delete.title'), :data => { :confirm => t('confirmation.delete.document') }, :class => 'btn btn-mini btn-danger' do
                      %i.fa.fa-trash-o
                      &nbsp;
                      Löschen
                  - else
                    %button.muted.btn.btn-mini{ :disabled => 'disabled' }
                      %i.fa.fa-ban-circle
                      &nbsp;
                      Löschen


      = paginate @documents

      %hr

      = render 'documents/button'

    .span3
      %h1
        Suche

      = render 'documents/search'
