.container
  .row
    .span3
      = render 'projects/menu'  
    
    .span6

      %h1
        Medienbibliothek
        
      
      %table.table.table-condensed.table-bordered
        %tr
          %td{ :width => 200 }
            = link_to image_tag( @document.document.url(:preview) ), @document.document.url(:original), :target => '_blank'
          %td
            = @document.document_file_name
            %br
            
            = @document.document_content_type
            %br

            = "#{@document.width} x #{@document.height} Pixel"
            %br

            = number_to_human_size @document.document_file_size
            
            %br
            %br
            = @document.doctype_name
            
            
          %td{ :width => 85 }
    
            = link_to edit_project_document_path(@project, @document), :class => 'btn btn-mini btn-success pull-right' do
              %i.icon-edit
              &nbsp;
              Bearbeiten

    .span3
      %h1
        Filtern
      = render 'documents/search'  
