.row
  .span6
    = simple_form_for([@project, @content_type, @content], html: {class: 'form-horizontal' }) do |f|
      -# = f.error_notification

      - if @locale
        = hidden_field_tag :locale, @locale
      

      %fieldset
        %legend
          Inhalte
            
        %options
          .form-inputs
            - @content_type.content_element_types.each do |cet|
              .control-group
                %label.control-label
                  = cet.name
                .controls
                  = cetform @content, cet


      %br


      = render :partial => 'contents/form_meta', :locals => { :f => f }
      = render :partial => 'contents/form_sitemap'     


      .form-actions
        = f.button :submit, :class => 'btn btn-primary', :data => { :disable_with => 'Übertrage Daten ...' }
        - unless @content.new_record?
          = link_to close_project_content_type_content_path(@project, @content_type, @content), :class => 'btn btn-inverse pull-right' do
            Schließen
        - else
          = link_to project_content_type_contents_path(@project, @content_type), :class => 'btn btn-inverse pull-right' do
            Abbrechen


      %br
      %hr
      %br


      - unless @content.new_record?
        = render :partial => 'contents/form_relations' 
        = render :partial => 'contents/form_documents' 


  .span3
  
    %fieldset
      %legend
        %i.icon-sitemap
        Sitemap

      #sitemap.navi
        %ul.nested_branches
          = sitemap @branches.arrange(:order => :position) 