.row
  .span6
    = simple_form_for([@project, @content_type, @content], html: {class: 'form-horizontal' }) do |f|
      = f.error_notification

      - if @locale
        = hidden_field_tag :locale, @locale
      

      %fieldset
        %legend
          Inhalte
            
        %options
          .form-inputs
            - @content_type.content_element_types.each do |cet|
              .control-group
                %label.control-label
                  = cet.name
                .controls
                  = cetform @content, cet
      %br
        
        
    
      - if @content.option(:ref) || @content.option(:alpha) || @content.option(:omega)
        %fieldset
          %legend
            Metadaten
              
          %options
            .form-inputs
              = f.input :ref_id                                 if @content.option 'ref'
              = f.input :alpha_datum, :include_blank => true    if @content.option 'alpha'
              = f.input :omega_datum, :include_blank => true    if @content.option 'omega'
        %br

      %fieldset
        %legend
          In folgenden Menüpunkten
        %options
          #tree.navi
            = hidden_field_tag 'content[branch_ids][]', ''
            %ul.nested_branches.contents
              = content_in_branches @branches.arrange(:order => :position) 
            
      %br


      - unless @content.new_record?
        %fieldset
          %legend
            Dokumente
          %options

        %br

    
      .form-actions
        = f.button :submit, :class => 'btn btn-primary', :data => { :disable_with => 'Übertrage Daten ...' }
        - unless @content.new_record?
          = link_to close_project_content_type_content_path(@project, @content_type, @content), :class => 'btn btn-inverse pull-right', :data => { :confirm => 'Eingaben sind ggf. nicht gespeichert!' } do
            Schließen
        - else
          = link_to project_content_type_contents_path(@project, @content_type), :class => 'btn btn-inverse pull-right', :data => { :confirm => 'Eingaben werden nicht gespeichert!' } do
            Abbrechen
        
        
        
  
  .span3
  
    %fieldset
      %legend
        Sitemap

      #sitemap.navi
        %ul.nested_branches
          = sitemap @branches.arrange(:order => :position) 