.container
  .row
    .span3
      = render 'projects/menu'  
    
    .span6

      %h1
        - if @content_type 
          = @content_type.name
        - else
          Alles

        - if @branch
          %strong
            %i.icon-double-angle-right
            = @branch.route(@locale).name
        
          
        
        %small.pull-right
          - @project.languages.each do |lng|
            - btnclass = 'btn-inverse' if @locale.to_s == lng.to_s
            = link_to url_for(params.merge(:locale => lng)), :class => "btn btn-mini #{btnclass}" do
              = lng 

      
      %table.table.table-condensed.table-striped.table-bordered.table-hover
        %tr
          - if @branch
            %th{:width => 5}
          
          %th Titel
          - unless @content_type
            %th Inhaltstyp
          
          %th
          %th
      
        %tbody{ :class => "#{'sortable' if @branch}", :data => { :update => { :url => sort_project_branch_path(@project, @branch) } } }
          - @contents.each do |content|
            %tr{ :id => "content_#{content.id}", :width => '100%' }
              - if @branch
                %td.handle
                  
              
              %td
                = link_to project_content_type_content_path(@project, content.content_type, content, params.merge(:locale => @locale)) do
                  = content.rep(@locale).html_safe
                  
                - if content.user
                  %small.muted.pull-right{ :title => l( content.updated_at ) }
                    %i.icon-lock
                    &nbsp;
                    = content.user.username if content.user
  
                - unless content.branches.empty?
                  %strong.muted.pull-right
                    %i.icon-sitemap
                    &nbsp;
                
              - unless @content_type
                %td= content.content_type.name
  
  
              %td{ :width => 45 }
                - content.languages.each do |lng|
                  = image_tag asset_path("flags/#{lng}.png")
                  
              %td{ :width => 50 }
                = render :partial => 'content_actions', :locals => { :content => content }

                
      
      - if @content_type
        = link_to new_project_content_type_content_path(@project, @content_type, params.merge(:branch => @branch)), :class => 'btn btn-mini btn-primary pull-right' do 
          %i.icon-plus
          &nbsp;
          Neuen
          %strong
            = @content_type.name
          anlegen
      


    .span3
      %h1
        Sitemap
        
      #sitemap.well.navi
        %ul.nested_branches.contents
          = sitemap @branches.arrange(:order => :position) 