.container
  .row
    .span3
      = render 'projects/menu'  
    
    .span6

      %h1
        = @content_type.name
        %small.pull-right
          - @project.languages.each do |lng|
            - btnclass = 'btn-inverse' if @locale.to_s == lng.to_s
            = link_to url_for(params.merge(:locale => lng)), :class => "btn btn-mini #{btnclass}" do
              = lng 

        
      
      %table.table.table-condensed.table-striped.table-bordered.table-hover
        %tr
          %th Titel
          %th
          %th
          %th
      
        - @contents.each do |content|
          %tr
            %td
              = link_to project_content_type_content_path(@project, @content_type, content, params.merge(:locale => @locale)) do
                = content.rep @locale
            %td.muted
              = content.user.username if content.user
            %td{ :width => 35 }
              - content.languages.each do |lng|
                = image_tag asset_path("flags/#{lng}.png")
                
            %td{ :width => 50 }
              = render :partial => 'content_actions', :locals => { :content => content }

                
      
      %br
      
      = link_to new_project_content_type_content_path(@project, @content_type) do 
        %i.icon-plus
        = @content_type.name
        Inhalt anlegen
      


    .span3
      %h1
        Sitemap
        
      #sitemap.well.navi
        %ul.nested_branches
          = sitemap @branches.arrange(:order => :position) 