.container
  .row
    .span3
      = render 'projects/menu'  
    
    .span6

      %h1
        Inhalt
        - if @content_type
          %small
            »
            = @content_type.name

      
      
      %fieldset
        %legend
          Inhalte
          .pull-right
            - @content.languages.each do |lng|
              - btnclass = 'btn-inverse' if @locale.to_s == lng.to_s
              = link_to url_for(params.merge(:locale => lng)), :class => "btn btn-mini #{btnclass}" do
                = lng
                
              
            
            

        %dl
          - @content.content_elements.lang(@locale).each do |ce|
            %dt
              = ce.content_element_type.name
            %dd
              = ce.html(@locale)
            
      - if @content.option(:ref) || @content.option(:alpha) || @content.option(:omega)
        %fieldset
          %legend
            Meta
  
          %dl.dl-horizontal
            - if @content.option(:ref)
              %dt
                Referenz
              %dd
                = @content.ref_id

                
            - if @content.option(:alpha)
              %dt
                Sichtbar ab
              %dd
                = l @content.alpha_datum unless @content.alpha_datum.nil?

            - if @content.option(:omega)                
              %dt
                Sichtbar bis
              %dd
                = l @content.omega_datum unless @content.omega_datum.nil?




      - unless @content.content_type.content_relation_types.empty?
        %br
        %hr
        %br
        %fieldset
          %legend
            %i.icon-magnet
            &nbsp;
            Verbundene Daten
          %options
          
            .tabbable
              %ul.nav.nav-tabs
                - @content.content_type.content_relation_types.each do |content_relation_type|
                  %li{ :class => "#{'active' if content_relation_type == @content.content_type.content_relation_types.first} " }
                    %a{"data-toggle" => "tab", :href => "##{content_relation_type.intern}"} 
                      = content_relation_type.name
      
              .tab-content
                - @content.content_type.content_relation_types.each do |content_relation_type|
                  %div{ :id => content_relation_type.intern, :class => "tab-pane #{'active' if content_relation_type == @content.content_type.content_relation_types.first} " }
                    
                    = render :partial => 'contents/show_relations_relationtable', :locals => { :content_relation_type => content_relation_type, :content => @content } 




      - unless @content.documents.empty?      
        %br
        %hr
        %br
        %fieldset
          %legend
            %i.icon-picture
            &nbsp;
            Dokumente

          %table.table.table-condensed.table-striped.table-bordered.table-hover
            - @content.documents.each do |document|
              %tr
                %td{ :width => 50 }
                  = link_to image_tag( document.document.url(:thumb) ), [document.project, document]
                %td
                  %strong
                    = document.filetype
                  %span.muted
                    = " #{document.width} x #{document.height} Pixel "
                  %br
                  = number_to_human_size document.document_file_size
         
      
      
      .form-actions
        .pull-right
          = render :partial => 'content_actions', :locals => { :content => @content, :large => true }
          

    .span3
      %h1
        Sitemap
        
      #sitemap.well.navi
        %ul.nested_branches.contents
          = sitemap @branches.arrange(:order => :position)