= simple_form_for(@project, html: {class: 'form-horizontal' }) do |f|
  = f.error_notification

  - if current_user.admin?
    %fieldset
      %legend
        Admin
  
      = f.input :intern         if permitted_params.project_attributes.include?(:intern)
      = f.input :ref_id         if permitted_params.project_attributes.include?(:ref_id)
      = f.input :status         if permitted_params.project_attributes.include?(:status)
    
  
  %fieldset
    %legend
      Projekt

    = f.input :name           if permitted_params.project_attributes.include?(:name)
    = f.input :description    if permitted_params.project_attributes.include?(:name)


  .form-actions
    = f.submit 'Speichern', :class => 'btn btn-primary', :data => { :disable_with => 'Übertrage Daten ...' }
