%h1
  &nbsp;

.well.navi
  %ul.nav.nav-list
      
    - if @project && !@project.new_record?
  
      %li.nav-header
        = link_to projects_path(locale), :class => 'pull-right', :style => 'margin: 0; padding: 0' do
          %i.pull-right.icon-chevron-up

        = @project.name
        
        
  
      
      %li
        = link_to project_branches_path(@project) do
          %i.pull-right.icon-sitemap
          Baumstruktur
        
      - if @project.content_types
        %li.nav-header
          Redaktion
        %li
          = link_to project_contents_path(@project) do
            %i.pull-right.icon-file
            Alle Inhalte

        -  @project.content_types.direct.each do |ct|
          %li
            = link_to project_content_type_contents_path(@project, ct) do
              %i.pull-right.icon-file-text
              = ct.name
          
      
      %li.nav-header
        Design
      %li
        = link_to project_documents_path(@project) do
          %i.pull-right.icon-picture
          Medienbibliothek
      
    
    
  
    - if current_user.admin?

      %li.nav-header
        Administration
        
      - if @project && !@project.new_record?
        %li
          = link_to settings_project_path(@project) do
            %i.pull-right.icon-gear
            Einstellungen
        %li
          = link_to users_project_path(@project) do
            %i.pull-right.icon-group
            Benutzer
  
        %li.divider
  
        %li
          = link_to project_content_types_path(@project) do
            %i.pull-right.icon-th-list
            Inhalts Typen
  
        %li
          = link_to project_content_relation_types_path(@project) do
            %i.pull-right.icon-magnet
            Inhalts Typen Relationen
  
      - else
        %li
          = link_to new_project_path do
            %i.pull-right.icon-plus
            Projekt anlegen