%h1
  &nbsp;

.well.navi
  %ul.nav.nav-list
      
    - if @project && !@project.new_record?
  
      %li.nav-header
        = link_to projects_path(locale), :class => 'pull-right', :style => 'margin: 0; padding: 0' do
          %i.pull-right.fa-fw.fa.fa-chevron-up
        %i.fa.fa-fw.fa-leaf
        &nbsp;
        = @project.name


      - unless @filter_content_types.empty?
        - if @filter_content_types.size > 1      
          %li{ :class => "#{ (@content_type.nil? && @contents) ? 'active' : '' }" }
            = link_to project_contents_path(@project) do
              %i.pull-right.fa-fw.fa.fa-file
              Alle Inhalte

        -  @filter_content_types.each do |ct|
          %li{ :class => "#{(@content_type == ct) ? 'active' : ''}" }
            = link_to project_content_type_contents_path(@project, ct) do
              %i.pull-right.fa-fw.fa.fa-file-text
              = ct.name


      - if @workspaces && ( @content_type || @contents )
      
        - @workspace_constellations.each do |constellation,workspaces|
          %li.nav-header
            - if get_workspace(constellation) > 0
              .pull-right
                = link_to params.merge(:constellation => constellation, :workspace => 'x') do
                  %i.fa-fw.fa.fa-times
            %i.fa.fa-desktop
            &nbsp;
            = constellation
              
              
          
          - workspaces.each do |workspace|
            %li
              = link_to params.merge(:constellation => constellation, :workspace => workspace) do
                - if get_workspace(constellation) == workspace.id
                  %i.pull-right.fa-fw.fa.fa-check
                = workspace.name


      - if can?(:read, :documents) || can?(:read, :branches)
        %li.nav-header
          %i.fa.fa-camera-retro
          &nbsp;
          Design
        - if can?(:read, :documents)
          %li{ :class => "#{ (controller.controller_name == 'documents') ? 'active' : '' }" }
            = link_to project_documents_path(@project) do
              %i.pull-right.fa-fw.fa.fa-picture-o
              Medienbibliothek
  
        - if can?(:read, :branches)
          %li{ :class => "#{ (controller.controller_name == 'branches') ? 'active' : '' }" }
            = link_to project_branches_path(@project) do
              %i.pull-right.fa-fw.fa.fa-sitemap
              Baumstruktur


    - if current_user.admin?

      %li.nav-header
        %i.fa.fa-cogs
        &nbsp;
        Administration
        
      - if @project && !@project.new_record?
        %li{ :class => "#{ (controller.controller_name == 'projects' && controller.action_name == 'settings') ? 'active' : '' }" }
          = link_to settings_project_path(@project) do
            %i.pull-right.fa-fw.fa.fa-gear
            Einstellungen
        %li{ :class => "#{ (controller.controller_name == 'projects' && controller.action_name == 'users') ? 'active' : '' }" }
          = link_to users_project_path(@project) do
            %i.pull-right.fa-fw.fa.fa-group
            Benutzer

  
        %li.divider
        
        %li
          = link_to project_workspaces_path(@project) do
            %i.pull-right.fa-fw.fa.fa-desktop
            Workspaces
          
        
        %li.divider
  
        %li
          = link_to project_content_types_path(@project) do
            %i.pull-right.fa-fw.fa.fa-th-list
            Inhalts Typen
  
        %li
          = link_to project_content_relation_types_path(@project) do
            %i.pull-right.fa-fw.fa.fa-magnet
            Inhalts Typen Relationen
  
      - else
        %li
          = link_to new_project_path do
            %i.pull-right.fa-fw.fa.fa-plus
            Projekt anlegen
    - elsif !@project
      
      %li.nav-header
        %i.fa.fa-fw.fa-list
        &nbsp;
        Projektübersicht
        
      - current_user.projects.each do |project|
        %li
          = link_to project do 
            %i.fa.fa-fw.fa-leaf
            &nbsp;
            = project.name