%h1
  &nbsp;

.well.navi
  %ul.nav.nav-list
      
    - if @project && !@project.new_record?
  
      %li.nav-header
        = link_to projects_path(locale), :class => 'pull-right', :style => 'margin: 0; padding: 0' do
          %i.icon-chevron-up

        = @project.name
        
        
  
      
      %li
        = link_to project_branches_path(@project) do
          %i.icon-code-fork
          Baumstruktur
        
      - if @project.content_types
        %li.nav-header
          Redaktion
          -  @project.content_types.each do |ct|
            %li
              = link_to project_content_type_contents_path(@project, ct) do
                %i.icon-file-text
                = ct.name
            
      
    
    
  
    - if current_user.admin?

      %li.nav-header
        Administration
        
      - if @project && !@project.new_record?
        %li
          = link_to languages_project_path(@project) do
            %i.icon-flag
            Sprachen
        %li
          = link_to users_project_path(@project) do
            %i.icon-group
            Benutzer
  
        %li.divider
  
        %li
          = link_to project_content_types_path(@project) do
            %i.icon-th-list
            Inhalts Typen
  
      - else
        %li
          = link_to new_project_path do
            %i.icon-plus
            Projekt anlegen