.container
  .row
    .span3
      = render 'menu'     

    .span9

      %h1 
        = @project.name.html_safe

      %p.lead
        = @project.description



      
      = simple_form_for(@project, html: {class: 'form-horizontal' }) do |f|
        %fieldset
          %legend
            %i.icon-gear
            &nbsp;
            Basics
      
          .row
            .span5
              = f.input :name           if permitted_params.project_attributes.include?(:name)
              = f.input :intern         if permitted_params.project_attributes.include?(:intern)
              = f.input :description    if permitted_params.project_attributes.include?(:description)
              = f.input :ref_id         if permitted_params.project_attributes.include?(:ref_id)
              = f.input :status         if permitted_params.project_attributes.include?(:status)
              = f.input :analytics      if permitted_params.project_attributes.include?(:analytics)

            .span4
              - if permitted_params.project_attributes.include?(:analytics)
                .alert.alert-info                
                  %strong
                    Hinweis
                  %p
                    Das Analytics-Feld benötigt nur ein google-Analytics-Tracking-Code:
                    %strong
                      UA-12345678-9

        %br
        %br
  
        %fieldset
          %legend
            %i.icon-flag
            &nbsp;
            Internationalisierung
  
          = hidden_field_tag "project[languages][]"
          .row
            .span5
              - Constant.languages.each do |lng|
                .control-group            
                  = label_tag '', 'Sprachen', :class => 'control-label'
                  .controls
                    %label
                      = check_box_tag "project[languages][]", lng.value, @project.languages.include?(lng.value)
                      &nbsp;
                      = image_tag asset_path("flags/#{lng.value}.png")
                      &nbsp;
                      = lng.name
            .span4
              .alert.info                
                %i.icon-warning-sign.icon-4x.pull-right
                %strong
                  Achtung
                %p
                  Wenn Sie sprachen entfernen, bleiben die Texte in der Sprache bestehen, sind aber nicht mehr bearbeitbar!
  
        .form-actions
          = f.submit 'Speichern', :class => 'btn btn-primary', :data => { :disable_with => 'Übertrage Daten ...' }
          = link_to @project, :class => 'btn btn-inverse pull-right' do
            Abbrechen
          
          
            
        
        %br
        %br
        
      %fieldset
        %legend
          %i.icon-cloud
          &nbsp;
          Hosts

        #hosts
          = render 'hosts/index'
          


        = link_to new_project_host_path(@project), :class => 'btn btn-primary btn-mini pull-right', :remote => true do
          %i.icon-plus
          &nbsp;
          Neuen Host anlegen
            
        
        %br
        %br
        
      %fieldset
        %legend
          %i.icon-cogs
          &nbsp;
          Projekt-Konstanten

        #hosts
          = render 'constants/project_index'
          


        = link_to new_project_constant_path(@project), :class => 'btn btn-primary btn-mini pull-right' do
          %i.icon-plus
          &nbsp;
          Neue Konstante anlegen