.container
  .row
    .span3
      = render 'menu'     

    .span9

      %h1 
        = @project.name

      %p.lead
        = @project.description



      %fieldset
        %legend
          %i.icon-flag
          Internationalisierung
          
        = simple_form_for(@project, html: {class: 'form-horizontal' }) do |f|

          = hidden_field_tag "project[languages][]"
          .row
            .span5
              - Constant.languages.each do |lng|
                .control-group            
                  = label_tag '', 'Sprachen', :class => 'control-label'
                  .controls
                    %label
                      = check_box_tag "project[languages][]", lng.value, @project.languages.include?(lng.value)
                      &nbsp;
                      = image_tag asset_path("flags/#{lng.value}.png")
                      &nbsp;
                      = lng.name
            .span4
              .alert.info                
                %i.icon-warning-sign.icon-4x.pull-right
                %strong
                  Achtung
                %p
                  Wenn Sie sprachen entfernen, bleiben die Texte in der Sprache bestehen, sind aber nicht mehr bearbeitbar!

          .form-actions
            = f.submit 'Speichern', :class => 'btn btn-primary', :data => { :disable_with => 'Übertrage Daten ...' }
            
        
        %br
        %br
        
        %fieldset
          %legend
            %i.icon-cloud
            Hosts

          #hosts
            = render 'hosts/index'
            


          .pull-right
            = link_to new_project_host_path(@project), :class => 'btn btn-primary btn-small', :remote => true do
              %i.icon-plus
              Neuen Host anlegen