.container
  .row
    .span3
      = render 'menu'     

    .span9

      %h1 
        %i.fa.fa-fw.fa-leaf
        &nbsp;
        = @project.name.html_safe

      %p.lead
        = @project.description




      .box
        .box-title
          Benutzerverwaltung
        .box-content.nopadding.condensed
          %table.table.table-condensed.table-striped.table-bordered
            %tr
              %th{ :colspan => 2 } User
              %th Rolle
              %th Individuelle Berechtigungen
  
            - @project.users.each do |user|
              %tr
                %td
                  = link_to user.username, user
                %td.muted
                  = user.email
                  
                %td
                  = (user.admin?) ? 'Admin' : 'Redakteur'
                %td