.container
  .row
    .span3
      = render 'menu'     

    .span9

      %h1 
        %i.fa.fa-fw.fa-leaf
        &nbsp;
        = @project.name.html_safe

      %p.lead
        = @project.description




      .box
        .box-title
          %i.fa.fa-users
          &nbsp;
          Benutzerverwaltung
        .box-content.nopadding.condensed
          %table.table.table-condensed.table-striped.table-bordered
            %tr
              %th{ :colspan => 2 } User
              %th Rolle
              %th Individuelle Berechtigungen
              %th
  
            - @project.users.each do |user|
              %tr
                %td
                  = link_to user.username, user
                %td.muted
                  = user.email
                  
                %td
                  = (user.admin?) ? 'Admin' : 'Redakteur'
                %td
                %td
                  - if user.admin?
                    %button.btn.btn-disbled.btn-mini.pull-right{ :disabled => 'disabled' }
                      %i.fa.fa-bolt
                      &nbsp;
                      Administrator
                  
                  - else
                    = link_to project_user_permissions_path(@project,user), :class => 'btn btn-primary btn-mini pull-right' do
                      %i.fa.fa-user
                      &nbsp;
                      Berechtigungen