= simple_form_for([@project, @workspace], html: {class: 'form-horizontal' }) do |f|

  -# = f.error_notification

  .form-inputs
    = f.input :intern
    = f.input :constellation
    = f.input :name

  %fieldset
    %legend
      Inhaltstypen

    = f.association :content_types, :as => :check_boxes, :collection => @project.content_types.direct


  .form-actions
    = f.button :submit, :class => 'btn btn-primary', :data => { :disable_with => 'Übertrage Daten ...' }
