.container
  .row
    .span3
      = render 'menu'  

      
    .span9
      %h1
        Inhaltstypen
        
      %table.table.table-condensed.table-striped.table-bordered.table-hover
        %tr
          %th
            Name
          %th
            Intern
          %th
            Felder
          %th{width: 100}
            Action
      
        - @content_types.each do |content_type|
          %tr
            %td= link_to content_type.name, project_content_type_path(content_type.project, content_type)
            %td= content_type.intern
            %td
              - content_type.content_element_types.each do |cet|
                = "#{cet.name}#{', ' unless content_type.content_element_types.last == cet}"
                  
                
                
              
            
            %td
              .btn-group
                = link_to edit_project_content_type_path(content_type.project, content_type), :class => 'btn btn-mini btn-success' do
                  %i.fa.fa-edit
                  Bearbeiten
                
                = link_to project_content_type_path(content_type.project, content_type), :method => :delete, :title => t('confirmation.delete.title'), :data => { :confirm => t('confirmation.delete.content_type') }, :class => 'btn btn-mini btn-danger' do
                  %i.fa.fa-trash-o
                  Löschen
          
