.container
  .row
    .span3
      = render 'templates/menu'

    .span9
      %h1
        %i.fa.fa-code
        Template
        %strong= @template.title


      %pre.code
        %code
          = preserve do
            = @template.code

      .text-right
        = link_to edit_project_template_path(@template.project, @template), :class => 'btn btn-mini btn-success' do
          Bearbeiten

      - if @template.versions.size > 1

        %h2
          %i.fa.fa-code-fork
          Versionen

        %table.table.table-condensed
          - @template.versions.reverse.each do |version|
            %tr
              %td
                .diffycode{ :style => 'display:none;', :id => "dc#{version.id}" }
                  - begin
                    = Diffy::Diff.new(version.reify.code, @template.code, :include_plus_and_minus_in_html => true, :allow_empty_diff => false).to_s(:html_simple).html_safe
                  - rescue
                    = version.reify.inspect

                = link_to "#dc#{version.id}", :id => "linkdc#{version.id}", :rel => "dc#{version.id}",  :class => 'btn btn-mini diffylink' do
                  %i.fa.fa-code-fork
                  &nbsp;
                  Version vergleichen

              %td{ :width => 200 }
                - if versionuser = User.find(version.version_author)
                  %strong= versionuser.name
                  %br
                = l version.created_at
